# Diretórios e arquivos de IDE/editor
.idea/
.vscode/
*.swp

# Binários e dependências Go
bin/
pkg/
*.exe
*.test

# Arquivos de ambiente
.env
.env.*
configs/app.env
configs/app.env.*

# Logs e arquivos temporários
*.log
tmp/
dist/
node_modules/

# Outros arquivos sensíveis
*.pem
*.key
*.crt
*.sql
*.dump